OPENAI_API_KEY=
GEMINI_API_KEY=
PERPLEXITY_API_KEY=

POSTGRES_USER=
POSTGRES_PASS=
POSTGRES_DB=

DB_HOST=
DB_PORT=

DATABASE_URL=

VITE_KAKAO_MAP_KEY='732deb75610e056340f0cb6273d025a8'

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

REDIS_URL

ACCESS_TOKEN_SECRET_KEY=
REFRESH_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=